.form-select{
    width: fit-content !important;
}
.scroling{
    overflow-x: auto !important;
}

.table tbody .Options{
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
}
.table tbody .Options button{
    padding: 0px 3px!important;
    margin: 2px;
}
.table tbody tr td {
    word-wrap: break-word !important;
}
#btnEditNote{
    display: none;
}
footer{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}